<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
    <title>Stock list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add stock</h1>
	<div>
		<form th:object="${stock}" th:action="@{save}" action="#" method="post">
		  	<label for="name">Name</label>
			<input type="text" id="title" th:field="*{name}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	
            <label for="expiredDate">Expired Date</label>
			<input type="date" id="expiredDate" th:field="*{expiredDate}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	
            <label for="quantity">Quantity</label>
			<input type="text" th:field="*{quantity}" />
			<div style="clear: both; display: block; height: 10px;"></div>

            <label for="description">Description</label>
			<input type="text" th:field="*{description}" />
			<div style="clear: both; display: block; height: 10px;"></div>

            <label for="price">Price</label>
			<input type="text" th:field="*{price}" />
			
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="categorylist">Category</label>
			<select id="categorylist" th:field="*{stockCategory}" class="form-control">
				  <option th:each="stockCategory: ${stockCategories}" th:value="${stockCategory.stockCategoryid}" th:text="${stockCategory.name}"></option>
				  </select>
            <input type="submit" value="Save" class="btn btn-success"></input>
		</form>

	</div>
</body>
</html>