<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
    <title>Search stock</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Search stock</h1>
	<div>
<form th:action="@{/search}" method="get">
    <input type="text" name="keyword" placeholder="Enter keyword" >
    <button type="submit" class="btn btn-success">Search</button>
    <button th:href="@{/stocklist}" th:text="Stocklist" class="btn btn-success">Stock List</button>
</form>

<div th:if="${searchResults}">
    <h3>Search Results:</h3>
    <ul>
        <li th:each="result : ${searchResults}" th:text="${result}"></li>
    </ul>
</div>
    </div>
</html>