<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
    <title>Search stock</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Search stock</h1>
	<div>
<form th:action="@{/search}" method="get">
    <input type="text" name="keyword" placeholder="Enter keyword" >
    <button type="submit" class="btn btn-success">Search</button>
    <a th:href="@{/stocklist}" class="btn btn-success">Home</a>
</form>

<div th:if="${searchResults}">
    <h3>Search Results:</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Expired Date</th>
                <th>Quantity</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="result : ${searchResults}">
                <td th:text="${result.name}"></td>
                <td th:text="${result.expiredDate}"></td>
                <td th:text="${result.quantity}"></td>
                <td th:text="${result.stockCategory.name}"></td>
            </tr>
        </tbody>
    </table>
</div>
    </div>
</html>